body{
    background: green
}

p{
    color:yellow
}
p{
    <font size="7">
}

ul {
    color: whitesmoke
    
}
ul
{
 
  /*height: 34px;*/
    height:2.2em;
}
h1{
    text-align: center
    

}
h1{
    color: lightblue
}