body{
    background: green
}

p{
    color:yellow
}
p{
    <font size="7">
}

ul {
    color: whitesmoke
    
}
ul{
    style="font-size:20px"

}

h1{
    text-align: center
    

}
h1{
    color: lightblue
}